body {
    min-width: 800px;
    overflow-y: scroll; 
    padding-top: 10px;
    text-align: center;
    font-color:white;
    background-color: #0000ff;
}
img{
	width: 100px; 
    text-align: center; 
    line-height:30px;
    float:left;
}


#container {
    background-color: #DDFFFF;
}

#newEvent {
    border: 3px solid #FFCC88;
    background-color: #FFDDAA;
    border-radius: 12px;
    width: 60%;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#newList {
    border: 3px solid #DDEE88;
    background-color: #EEFFAA;
    border-radius: 12px;
    width: 60%;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#eventList {
    border: 3px solid #5599FF;
    background-color: #DDEEFF;
    border-radius: 12px;
    width: 60%;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

 p {
 	text-align: center;
 }

#futureEvents {
    width: 100%;
}

.listDiv {
	min-height: 30px;
    border: 3px solid #4488FF;
    background-color: #CCEEFF;
    border-radius: 12px;
    width: 90%;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.button {
    border-radius: 8px;
    background-color: #e7e7e7;
}