body {
    min-width: 800px;
    min-height: 1000px;
    overflow-y: scroll; 
    text-align: center;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

 p {
 	text-align: center;
 }

#futureEvents {
    width: 100%;
}

.listDiv {
	min-height: 30px;
    border: 3px solid #4488FF;
    background-color: #CCEEFF;
    border-radius: 12px;
    width: 60%;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}