body {
    min-width: 800px;
    min-height: 1000px;
    overflow-y: scroll; 
    padding-top: 10px;
    text-align: center;
    font-color:white;
    background-color: #0000ff;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

 p {
 	text-align: center;
 }

.listDiv {
	min-height: 30px;
}